// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    // margin: 0px;

}

body { margin:0; padding:0; font-size:100%; line-height:1; }

.button-container{
    background-color: green;
    display: flex;
    width: 800px;
    height: 50px;
    position: relative;
    margin-top: 0px;
    // flex-direction: column;
    justify-content: flex-end;
}
#myCanvas{
    margin: 0px;
    // padding-left: 150px;
    // padding-right: auto;
}
.button-container input{
    border: none;
    margin: 5px;
    height: 50px
}
.button-container button{
    // position: absolute;
    height: 50px;
    width: 100px;
    // padding-left: 150px;
    // margin-left: 150px;
    border-radius: 3px;
    font-size: 18px;
    align-items: right;
    border: none;
    margin: 5px;
}
.button-container input{
    border-radius: 3px;
    font-size: 18px;
    width: 80px;
}

body{
    // background-color: papayawhip;
}

input:hover{
    background-color: rgb(211, 216, 216);

}
button:hover {
    background-color: rgb(211, 216, 216);
}

.content{
    position: absolute;
    left: 200px;
    top: 0px;    
}
.content h1{
    text-align: center;
}


.background-div{
    position: absolute;
    background-color: green;
    top: 200px;
    left: 00px;
    width: 800px;
    height: 450px;
    z-index: -20;
}
